<h3><%= user.email %></h3>
 <% user.tweets.each do |t| %>
<h4> <%= link_to t.body, t%></h4>
 <% end %>
 <a class="waves-effect waves-light btn-large" href="/users"><i class="material-icons left">supervisor_account</i>Back</a>
