<p class= "showuse"><%= user.email %></p>
 <% user.tweets.each do |t| %>
<p class= "showu"><%= link_to t.body, t%></p>
 <% end %>
 <br>
 <a class="waves-effect waves-light btn" href="/users"><i class="material-icons left">supervisor_account</i>Back</a>
