<!DOCTYPE html>
<html>
<head>
  <title>TwitterAPI</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper">
       <a href="/users" class="brand-logo center"><img src="https://www.foodlion.com/content/dam/Home_Page/Logo%20Twitter.png"></a>
       <ul class="right hide-on-med-and-down">
         <li><a href="/users">Users</a></li>
          <li><a href="/tweets">Tweets</a></li>
       </ul>
     </div>
   </nav>
 </div>

<div class= "container">
<%= yield %>
</div>
</body>
</html>
